= simple_form_for [@game, @paragraph, @choice] do |f|
  = f.input :content, autofocus: true
  = f.association :child_paragraph, label_method: :content,
    collection: @game.paragraphs
  
  = basic_actions f, [@game, @paragraph]
