.user.mini-profile  
  = link_to user do
    .pull-left
      = image_tag user.avatar.thumb.url, class: "img-circle img-xs avatar"
    .pull-left
      .nickname= user.nickname
      = stars(user.average_mark)
