%h1= title @game.name
%p= @game.description

= action_link_to t(".new_node"), [:new, @game, :node], if: can?(:edit, @game)
= action_link_to :destroy, @game, method: :delete,
  data: { confirm: t("questions.confirm") }, if: can?(:destroy, @game)
