.header-navbar
  #main-nav
    .profile-mini
      padding: 5px 15px 0 15px
      > a
        width: 100%
  .navbar-text
    .game-name
      .stars
        display: inline-block
a:hover
  img
    opacity: 0.6
    
.user.profile
  > a
    display: inline-block
