%nav.navbar.navbar-default.navbar-static-top
  .container
    = link_to "Tales", root_url, class: "navbar-brand"
    %button{ type: "button", class: "btn btn-default navbar-btn" }
      = link_to t(".sign_in"), new_user_session_path
